@keyframes fadeOutBlack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes fadeInBlack {
  0% {
    opacity: 0%;
    }

  100% {
    opacity: 100%;
    visibility: visible
  }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    /* 50% {
      opacity: 0.5;
      transform: translateY(20px);
    } */
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

.fadeOutBlack {
    animation: fadeOutBlack 2s ease 0s 1 normal forwards;
}

.fadeInBlack {
  animation: fadeInBlack 2s ease 1s 1 normal forwards;
}
/* 
.fadeInUp {
    opacity: 0;
    transform: translateY(40px);
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
            
} */
