@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
}

html {
  position: relative;
}
html .preloader {
  position: absolute;
  width: 100%;
  height: 100% !important;
  background-color: black;
  z-index: 70;
  visibility: hidden;
}

body {
  width: 100%;
  color: black;
}

.logo {
  width: 130px;
  height: 70px;
  float: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
    height: 60px;
    float: none;
  }
}
.navbar {
  width: 100%;
  display: flex;
  padding: 40px 60px;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.navbar .navlist {
  display: flex;
  margin-right: 70px;
}
.navbar .navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-weight: 600;
  transition: font-size 0.5s;
  cursor: pointer;
}
.navbar .navlist li:hover {
  font-size: 22px;
}
.navbar .hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 4rem;
  z-index: 7;
  display: none;
  margin-top: 20px;
}
.navbar .hamburger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}
.navbar .hamburger .line:nth-child(1) {
  top: 0;
}
.navbar .hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.navbar .hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
}
.navbar .hamburger.active .line:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
  width: 2rem;
}
.navbar .hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.navbar .hamburger.active .line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
  width: 2rem;
}
.navbar button{
  margin-top: -8px;
  margin-left: 15px;
  margin-right: -25px;
}
.explore {
  padding: 5px 20px;
  background: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font-size: 19px;
  font-family: "Archivo";
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.5s;
}
.explore::before, .explore::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -2500;
  transition: 0.5s ease-out;
  background-color: black;
}
.explore::before, .explore::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.explore:hover::before, .explore:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.explore:hover::after, .explore:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.explore:hover, .explore:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 40px 30px;
    background-color: transparent;
    top: 0;
    width: 100%;
  }
  .navbar .navlist {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    z-index: 6;
    left: 0;
    color: white;
    gap: 40px;
    bottom: -100vh;
    transition: bottom 650ms;
  }
  .navbar .navlist li {
    color: white;
    font-size: 25px;
  }
  .navbar .navlist li:hover {
    font-size: 29px;
  }
  .explore{
    width: 150px;
    height: 50px;
  }
  .navbar .navlist.active {
    bottom: 0;
  }
  .navbar .hamburger {
    display: block;
    width: 50px;
  }
  .navbar .hamburger .line {
    background-color: black;
  }
  .navbar .hamburger.active .line {
    background-color: #fff;
  }
}
main > h2 {
  font-size: 65px;
  font-weight: 800;
  font-family: "Archivo";
  color: rgb(28, 28, 28);
  line-height: 65px;
  letter-spacing: 4px;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-top: 40px;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
main .fade-in-up {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
main #artlist {
  display: flex;
  width: 90%;
  row-gap: 40px;
  margin: auto;
  margin-bottom: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #artlist .artist {
  flex-basis: 30%;
}
main #artlist .artist .art {
  position: relative;
  z-index: -1;
  cursor: pointer;
}
main #artlist .artist .art .artwork {
  width: 100%;
  height: 370px;
  transition: filter 0.5s;
}
main #artlist .artist .art:hover > .artwork {
  filter: blur(2px) brightness(70%) grayscale(70%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
main #artlist .artist .art:hover .description {
  display: flex;
  z-index: 4;
  animation: fadeIn 0.5s ease 0s 1 normal forwards;
}
main #artlist .artist .art .description {
  position: absolute;
  visibility: hidden;
  width: 70%;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 25px;
  display: none;
  transition: display 0.8s;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
main #artlist .artist .art-details {
  display: flex;
  gap: 20px;
}
main #artlist .artist .art-details .text {
  margin-top: 10px;
  cursor: pointer;
}
main #artlist .artist .art-details .text .art_title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Archivo";
}
main #artlist .artist .art-details button {
  color: white;
  background-color: #1C1C1C;
  width: 110px;
  margin: 10PX;
  height: 40px;
  border: none;
  font-weight: 700;
}

@media (max-width: 800px) {
  main > h2 {
    font-size: 55px;
    font-weight: 800;
    font-family: "Archivo";
    color: rgb(28, 28, 28);
    line-height: 50px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }
  main #artlist {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    gap: 40px;
    margin: auto;
    margin-bottom: 70px;
    justify-content: center;
  }
  main #artlist .artist {
    width: 100%;
  }
  main #artlist .artist .art {
    position: relative;
  }
  main #artlist .artist .art .artwork {
    height: 400px;
    transition: filter 0.5s;
  }
  main #artlist .artist .art:hover > .artwork {
    filter: blur(2px) brightness(70%) grayscale(70%);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  main #artlist .artist .art:hover .description {
    display: flex;
    z-index: 4;
    animation: fadeIn 0.5s ease 0s 1 normal forwards;
  }
  main #artlist .artist .art .description {
    position: absolute;
    visibility: hidden;
    width: 50%;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 25px;
    display: none;
    transition: display 0.8s;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  main #artlist .artist .art-details {
    display: flex;
    gap: 20px;
  }
  main #artlist .artist .art-details .text {
    margin-top: 10px;
  }
  main #artlist .artist .art-details .text .art_title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Archivo";
  }
  main #artlist .artist .art-details button {
    color: white;
    background-color: #1C1C1C;
    width: 110px;
    margin: 10PX;
    height: 40px;
    border: none;
    font-weight: 700;
  }
}

@media (max-width: 550px){
  main #artlist {
    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: 40px;
    margin: auto;
    margin-bottom: 70px;
    justify-content: center;
  }
}
@media (max-width: 450px){
  
  main #artlist .artist .art .artwork {
    height: 350px;
    transition: filter 0.5s;
  }
}
@media (max-width: 350px){
  main #artlist .artist .art .artwork {
    height: 300px;
    transition: filter 0.5s;
  }
}
footer {
  padding: 70px;
  display: grid;
  background: #1c1c1c;
  grid-template-columns: auto auto;
  width: 100%;
  color: white;
}
footer .logo {
  float: right;
  margin-bottom: 40px;
}
footer hr {
  width: 100%;
  background-color: white;
  margin: 0px auto 40px;
  display: none;
}
footer .navlist {
  display: flex;
  margin-right: 70px;
  margin-top: 30px;
}
footer .navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-weight: 600;
  transition: font-size 0.5s;
}
footer .navlist li:hover {
  font-size: 22px;
}
footer .footer-copy:nth-of-type(0) {
  display: none;
}
footer .heading {
  display: flex;
  column-gap: 30px;
}
footer .heading h4 {
  display: inline;
  font-size: 40px;
  color: white;
  font-weight: 600;
  font-family: "Archivo";
  margin-bottom: 30px;
}
footer .heading .icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(52, 52, 52, 0.1803921569);
  padding: 7px;
}
footer p {
  margin-bottom: 30px;
}
footer .footer-right #footer-header {
  display: block;
  padding: 0px;
  text-align: right;
  margin-left: auto;
}
footer .footer-right p {
  text-align: right;
}
footer .footer-right .navlist {
  margin-right: 0px;
  margin-bottom: 30px;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  footer .logo {
    float: none;
    margin-bottom: 0px;
  }
  footer .heading {
    display: flex;
    column-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  footer .footer-copy:nth-of-type(1) {
    display: none;
  }
  footer p {
    margin-bottom: 30px;
    text-align: center;
  }
  footer .navlist {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .navlist li {
    padding-bottom: 10px;
  }
  footer hr {
    display: block;
    height: 1px;
  }
  footer .footer-right {
    text-align: center;
  }
  footer .footer-right #footer-header {
    display: block;
    padding: 0px;
    text-align: center;
    margin-left: auto;
  }
  footer .footer-right p {
    margin-bottom: 30px;
    text-align: center;
  }
}

/*# sourceMappingURL=artistSelection.css.map */
