@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@700&family=Montserrat:wght@100;400&display=swap");
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Light.otf") format("opentype");
}
@font-face {
  font-family: "Archivo Bold";
  src: url("../fonts/Archivo-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Archivo Regular";
  src: url("../fonts/Archivo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo Medium";
  src: url("../fonts/Archivo-Medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
}

html {
  position: relative;
}
html .preloader {
  position: absolute;
  width: 100%;
  height: 100% !important;
  background-color: black;
  z-index: 70;
  visibility: hidden;
}

body {
  width: 100%;
  color: black;
}

.header {
  margin-right: auto;
  font-size: 40px;
  font-family: "Gluten";
  font-weight: 700;
  padding-top: 40px;
  padding-left: 60px;
}

.navlist {
  display: flex;
  padding-top: 40px;
  margin-right: 70px;
  margin-left: auto;
}
.navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-size: 20px;
  font-weight: 600;
}

.navbar {
  width: 100%;
  display: flex;
  z-index: 20;
  justify-content: space-between;
  color: black;
}

main > h2 {
  font-size: 80px;
  font-weight: 900;
  font-family: "Archivo Medium";
  color: black;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 75px;
  margin-left: 60px;
  margin-top: 50px;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
main .fade-in-up {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
main #artlist {
  display: flex;
  width: 90%;
  row-gap: 40px;
  margin: auto;
  margin-bottom: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #artlist .artist {
  flex-basis: 30;
}
main #artlist .artist .art {
  position: relative;
}
main #artlist .artist .art .artwork {
  width: 350px;
  height: 300px;
  transition: filter 0.5s;
}
main #artlist .artist .art:hover > .artwork {
  filter: blur(2px) brightness(70%) grayscale(70%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
main #artlist .artist .art:hover .description {
  display: flex;
  z-index: 4;
  animation: fadeIn 0.5s ease 0s 1 normal forwards;
}
main #artlist .artist .art .description {
  position: absolute;
  visibility: hidden;
  width: 70%;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 25px;
  display: none;
  transition: display 0.8s;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
main #artlist .artist .art-details {
  display: flex;
  gap: 20px;
}
main #artlist .artist .art-details .text {
  margin-top: 10px;
}
main #artlist .artist .art-details .text .art_title {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Archivo Medium";
}
main #artlist .artist .art-details button {
  color: white;
  background-color: #1C1C1C;
  width: 110px;
  margin: 10PX;
  height: 40px;
  border: none;
  font-weight: 700;
}

footer {
  padding: 70px;
  display: grid;
  background: #1C1C1C;
  grid-template-columns: auto auto;
  color: white !important;
}
footer .heading {
  display: flex;
  column-gap: 30px;
}
footer .heading h4 {
  display: inline;
  font-size: 40px;
  color: white;
  font-weight: 600;
  font-family: "Archivo Medium";
  margin-bottom: 30px;
}
footer .heading .icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(52, 52, 52, 0.1803921569);
  padding: 7px;
}
footer p {
  margin-bottom: 30px;
}
footer .footer-right #footer-header {
  display: block;
  padding: 0px;
  text-align: right;
  margin-left: auto;
}
footer .footer-right p {
  margin-bottom: 30px;
  text-align: right;
}
footer .footer-right .navlist {
  margin-right: 0px;
  margin-bottom: 30px;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 1300px) {
  main > h2 {
    font-size: 50px;
    font-weight: 900;
    font-family: "Archivo Medium";
    color: black;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin-bottom: 75px;
    margin-left: 60px;
    margin-top: 30px;
  }
  @keyframes fadeInUp {
    0% {
      transform: translateY(-40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  main .fade-in-up {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  main #artlist {
    display: flex;
    width: 90%;
    row-gap: 40px;
    margin: auto;
    margin-bottom: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main #artlist .artist {
    flex-basis: 30;
  }
  main #artlist .artist .art {
    position: relative;
  }
  main #artlist .artist .art .artwork {
    width: 300px;
    height: 250px;
    transition: filter 0.5s;
  }
  main #artlist .artist .art:hover > .artwork {
    filter: blur(2px) brightness(70%) grayscale(70%);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  main #artlist .artist .art:hover .description {
    display: flex;
    z-index: 4;
    animation: fadeIn 0.5s ease 0s 1 normal forwards;
  }
  main #artlist .artist .art .description {
    position: absolute;
    visibility: hidden;
    width: 70%;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 25px;
    display: none;
    transition: display 0.8s;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  main #artlist .artist .art-details {
    display: flex;
    gap: 20px;
  }
  main #artlist .artist .art-details .text {
    margin-top: 10px;
  }
  main #artlist .artist .art-details .text .art_title {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Archivo Medium";
  }
  main #artlist .artist .art-details button {
    color: white;
    background-color: #1C1C1C;
    width: 110px;
    margin: 10PX;
    height: 40px;
    border: none;
    font-weight: 700;
  }
}

/*# sourceMappingURL=artistSelection.css.map */
