@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "animations.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
}


.fixedNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

body {
    width: 100%;
    color: black;
    scroll-behavior: smooth;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 70;
}

.logo {
    width: 150px;
    height: 80px;
     float: none;
}

@media (max-width: 600px) {
    .logo {
        width: 100px;
        height: 60px;
         float: none;
    }
}

#one-view {
    width: 100%;
    position: fixed;
    z-index: 4000;
    height: 100%;
    display: none;
    background-color: white;

    svg.x-icon-form {
        position: absolute;
        top: 4%;
        z-index: 99000;

        left: 90%;
    }

    .splide__pagination {
        display: none;
    }

    .splide__arrow--next {
        right: 4em;
    }

    .splide__arrow--prev {
        left: 4em;
    }

    .art-display {
        display: flex;
        padding: 90px;
        height: 100vh;
        margin: 0 auto;
        width: 80%;
        justify-content: space-between;

        .text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;

            .artist_name {
                font-size: 30px;
                font-family: 'Poppins';
                font-weight: 600px;
                text-transform: uppercase;
            }

            .description {
                p {
                    font-family: 'Montserrat';
                    line-height: 18px;
                }

                .art_title {
                    font-size: 20px;
                    font-weight: 300;
                    padding-bottom: 30px;
                    line-height: 26px;
                }    
                
            }

            .links {
                display: flex;
                gap: 20px;

                a {
                    margin-right: 0px;
                    color: black;
                    font-weight: 300;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: 'Archivo';
                    line-height: 22px;
                    word-wrap: break-word;
                    position: relative;

                    &::after {
                        content: '';
                        width: 0;
                        position: absolute;
                        top: 102%;
                        height: 3px;
                        background-color: black;
                        left: 0;
                        animation: widen 1s ease 0s 1 normal forwards;
                    }

                    @keyframes widen {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 100%;
                        }
                    }
                }
            }

        }
        
        .art {
            flex-basis: 50%;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }

    .form {
    position: fixed;
    z-index: 5;
    display: none;
    width: 50vw;
    padding: 100px 60px 60px;
    color: white;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    height: 100%;
    background: black;

    div.header {
        display: flex;
        margin-bottom: 0px;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        padding: 30px 60px;
        align-items: center;
        justify-content: space-between;
   
        .logo {
            width: 90px;
            height: 40px;
             float: none;
        }

    .x-icon {
        color: white;
    }

}

    h2 {
        font-family: 'Archivo';
        font-size: 35px;
        margin-bottom: 30px;

    }

    p {
        font-size: 12px;
        padding: 10px 0px;
    }

    input[type=text], input[type=email], input[type=tel], textarea {
        display: block;
        background: transparent;
        padding: 10px;
        color: white;
        border: none;
        border-bottom: 1px solid rgb(155, 155, 155);
        outline:none;
        margin-bottom: 40px;
        width: 100%;
        transition: border 1s;

    }


      button {
        display: block;
        background: transparent;
        padding: 10px 15px;
        color: white;
        border: 1px solid white;
        outline:none;
        margin-bottom: 20px;
    }

    .terms-notif {
        margin-top: 60px;
        color: grey !important;
        font-size: 16px;
    }
    }

}

@media (max-width: 600px) {
    #one-view {
        .form {
            position: fixed;
            z-index: 5;
            width: 100vw;
            padding: 100px 30px 30px;
            color: white;
            overflow-y: scroll;
        
            &::-webkit-scrollbar {
                display: none;
            }
            height: 100%;
            background: black;

            div.header {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                padding: 30px 30px;
                align-items: center;
                justify-content: space-between;
           
                .logo {
                    width: 70px;
                    height: 30px;
                     float: none;
                }
        
            .x-icon {
                color: white;
            }
        
        }
        }

        .splide__arrow--next {
            right: 1em;
        }
    
        .splide__arrow--prev {
            left: 1em;
        }
    

        .art-display {
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
            padding: 0px;
            height: 100vh;
            overflow-y: scroll;

            .art {
                flex-basis: 70%;
            }

            &::-webkit-scrollbar {
                display: none;
            }
            width: 100%;
            justify-content: space-between;

            .text {
                display: block;
                padding: 30px;
            }

            .description {
            margin-bottom: 30px;
            }

        }
    }
}

.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 40px 60px;
    z-index: 4 !important;
    justify-content: space-between;
    color: white;
    align-items: center;


    .navlist {
        display: flex;
        margin-right: 70px;
    
        li {
            list-style: none;
            padding: 0px 10px;
            font-family: 'Archivo';
            font-weight: 600;
            transition: font-size 0.5s;
    
            &:hover {
                font-size: 22px;
            }
        }
    }

    .hamburger {
        width: 3.6rem;
        height: 1.8rem;
        position: relative;
        cursor: pointer;
        line-height: 4rem;
        z-index: 3;
        display: none;
        margin-top: 20px;
      }
      
      .hamburger .line {
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        display: block;
        right: 0;
        transition: all 650ms;
      }
      
      .hamburger .line:nth-child(1) {
        top: 0;
      }
      
      .hamburger .line:nth-child(2) {
        top: 50%;
        margin-top: -1px;
      }
      
      .hamburger .line:nth-child(3) {
        top: 100%;
        margin-top: -2px;
      }
      
      .hamburger.active .line:nth-child(1) {
        transform: translateY(.8rem) rotate(45deg);
        width: 2rem;
      }
      
      .hamburger.active .line:nth-child(2) {
        opacity: 0;
      }
      
      .hamburger.active .line:nth-child(3) {
        transform: translateY(-.8rem) rotate(-45deg);
        width: 2rem;
      }
      

}

@media screen and (max-width: 768px) {
    .navbar {
      padding: 40px 20px;
      background-color: transparent;
      top: 0;
      width: 100%;

      .navlist {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        position: fixed;
        left: 0;
        color: white;
        gap: 40px;
        bottom: -100vh;
        transition: bottom 650ms;

        li {
            color: white;
        }

    }
  
      .navlist.active {
        bottom: 0;
      }

      .hamburger {
        display: block;
        width: 50px;
      }
  
      .hamburger .line {
        background-color: white;
      }
  
      .hamburger.active .line {
        background-color: #fff;
      }
    }     
}

.hidden {
    display: none;
}

#links {
    display: flex;
    top: 50%;
    height: max-content;
    left: 0;
    transform: translate(-45%, -50%) rotate(90deg);        
    color: #1C1C1C;
    position: fixed;
    width: max-content;
    z-index: 1000;

    a {
        margin-right: 50px;
        color: #000000;
        text-decoration: none;
        font-size: 21px;
        font-family: 'Archivo';
        line-height: 22px;
        word-wrap: break-word;
    }

    a.active {
        color: black;
        position: relative;

        &::after {
            content: '';
            width: 0;
            position: absolute;
            top: 102%;
            height: 3px;
            background-color: inherit;
            left: 0;
            animation: widen 1s ease 0s 1 normal forwards;
        }

        @keyframes widen {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    #links {
        display: flex;
        top: 100%;
        left: 0%;
        transform: translate(0%, -100%) rotate(0deg);        
        color: white;
        position: fixed;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        z-index: 1000;
        background-color: #1C1C1C;

        a {
            margin-right: 0px;
            color: white;
            font-weight: 300;
            text-decoration: none;
            font-size: 16px;
            font-family: 'Archivo';
            line-height: 22px;
            word-wrap: break-word;
        }

        a.active {
            color: white;
            position: relative;
            font-weight: 300;

            &::after {
                content: '';
                width: 0;
                position: absolute;
                top: 102%;
                height: 3px;
                background-color: white;
                left: 0;
                animation: widen 1s ease 0s 1 normal forwards;
            }

            @keyframes widen {
                0% {
                    width: 0%;
                }

                100% {
                    width: 100%;
                }
            }
        }
    }
}


main {
    #hero {
        position: relative;
        width: 100%;
        height: 100vh;
          
        &::after {
            content: '';
            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.461), transparent);
            display: block;
          }
          
          .banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -2;
        }

        
        
        .text {
            color: white;
            top: 50%;
            left: 20%;
            position: absolute;
            transform: translate(-20%, -50%);

            h1 {
                font-size: 80px;
                font-weight: 800;
                font-family: 'Archivo';
                line-height: 90px;
                text-transform: uppercase;
                white-space: wrap;
                letter-spacing: 6px;
                text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.557);
                margin-bottom: 20px;
            }

            h4 {
                font-family: 'Archivo';
                color: white;
                font-size: 19px;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                font-weight: 300;
                width: 60%;
                // margin-top: 30%;
                text-shadow: 2px 2px 1px black;
                color: white;
            }

            .exh-icons {
                margin-top: 25px;
            }
        }
    }

    @media (max-width: 800px) {
        #hero {
            position: relative;
            width: 100%;
            height: 100vh;
              
            &::after {
                content: '';
                top: 0;
                left: 0;
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.27) 100%);
                display: block;
              }
            
            
            .text {
                color: white;
    
                h1 {
                    font-size: 40px;
                    font-weight: 800;
                    top: 50%;
                    left: 15%;
                    transform: none;
                    line-height: 43px;
                    white-space: wrap;
                }

                p {

                    font-size: 16px;
                    font-weight: 300;
                    width: 80%;
                    transform: none;
                    text-shadow: none;
                    color: white;
                }
    

            }
        }
    }

    #about {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #1C1C1C;
        padding: 90px 90px;
        gap: 40px;

        .left {
            p {
                color: white;
                font-size: 32px;
                font-family: 'Archivo';
                font-weight: 600;
                line-height: 42px;
                word-wrap: break-word;
            }
        }
        
        .right {
            
            p:first-of-type {
                color: white;
                font-size: 17px;
                font-family: 'Archivo';
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.40px;
                word-wrap: break-word
            }

            p {
                color: white;
                font-size: 14px;
                font-family: 'Archivo';
                font-weight: 400;
                line-height: 24px;
            }
        }
    }

    @media (max-width: 800px) {
        #about {
            display: grid;
            grid-template-columns: auto;
            background-color: #1C1C1C;
            padding: 40px 20px;
            gap: 40px;
    
            .left {
                p {
                    color: white;
                    font-size: 30px;
                    font-family: 'Archivo';
                    font-weight: 600;
                    line-height: 32px;
                    word-wrap: break-word;
                }
            }
            
            .right {
                
                p:first-of-type {
                    color: white;
                    font-size: 18px;
                    font-family: Archivo;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.40px;
                    word-wrap: break-word
                }
    
                p {
                    color: white;
                    font-size: 18px;
                    font-family: Archivo;
                    letter-spacing: 0.40px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }

    #artworks {
        background-color: white;
        padding: 90px 0px;
        
        h2 {
            font-size: 80px;
            font-weight: 800;
            font-family: 'Archivo';
            line-height: 70px;
            text-align: left;
            color: black;
            text-transform: uppercase;
            white-space: nowrap;
            margin-left: 60px;
            letter-spacing: -0.01em;
            margin-bottom: 20px;
        }
        
        #artlist {
            display: grid;
            gap: 60px;
            grid-template-columns: auto auto auto;
            margin: 60px;

            .art-column {
                display: flex;
                flex-direction: column;
              }
    
            .artwork {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
    
    
           .artist {
            flex-basis: 30%;
            margin-bottom: 20px;
            flex-direction: column;
    
        
                .art-details {
                    display: flex;
                    gap: 20px;
                    text-transform: italic;
                    width: 100%;
                  
                    
        
                .text {
                    margin-top: 10px;
                    width: 58%;

                    & > * {
                            margin-top: 5px;
                    }
                    .art_title {
                        font-weight: 900;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-family: 'Archivo';
                    }
                }
        
                button {
                    color: white;
                    background-color: #1C1C1C;
                    width: 110px;
                    margin: 10PX;
                    height: 40px;
                    border: none;
                    font-weight: 700;
                    text-align: center;
                }
              } }
            }
    }

    @media (max-width: 800px) {
        #artworks {
            background-color: white;
            padding: 40px 30px;
            
            h2 {
                font-size: 50px;
                font-weight: 800;
                font-family: 'Archivo';
                line-height: 70px;
                color: black;
                text-transform: uppercase;
                white-space: nowrap;
                margin-left: 0px;
                text-align: center;
                letter-spacing: -0.01em;
                margin-bottom: 20px;
    
            }
            
    
                #artlist {
                    display: flex;
                    margin-bottom: 70px;
                    flex-wrap: wrap;
                    flex-direction: column;
                    flex-grow: auto;
                    padding: 40px 0px;
                    column-gap: 20px;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0px;
                }
        }
    }

    #biography {
        background-color: #1C1C1C;
        padding: 90px;

        h2 {
            font-size: 80px;
            font-weight: 800;
            font-family: 'Archivo';
            line-height: 70px;
            color: white;
            text-transform: uppercase;
            white-space: nowrap;

            letter-spacing: -0.01em;
            margin-bottom: 80px;

        }

        p {
            color: white;
            font-size: 20px;
            font-family: Archivo;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.40px;
            word-wrap: break-word
        }

        button {
            color: black;
            background-color: rgb(210, 210, 210);
        }
    }

    @media (max-width: 800px) {
        #biography {
            background-color: #1C1C1C;
            padding: 40px 20px;
            
            h2 {
                font-size: 2.6rem;
                font-weight: 800;
                font-family: 'Archivo';
                line-height: 50px;
                color: white;
                text-transform: uppercase;
                white-space: nowrap;
    
                letter-spacing: -0.01em;
                margin-bottom: 40px;
    
            }
    
            p {
                color: white;
                font-size: 16px;
                font-family: 'Archivo';
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.40px;
                word-wrap: break-word
            }
        }
    }

    #exhibitions {
        background-color: #ffffff;
        padding: 90px 60px;
        display: none;

        >h2 {
            font-size: 80px;
            font-weight: 800;
            font-family: 'Archivo';
            line-height: 70px;
            color: #1C1C1C;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: 4px;
            margin-bottom: 40px;
            text-align: center;
        }

        .links {
            display: block;
            margin: 40px auto;
            color: #1C1C1C;
            width: max-content;

            a {
                margin-right: 50px;
                color: #1C1C1C;
                font-size: 25px;
                font-family: 'Archivo';
                text-transform: uppercase;
                line-height: 30px;
                word-wrap: break-word;
            }

            a.active {
                color: black;
                position: relative;
                font-weight: bold;

                &::after {
                    content: '';
                    width: 0;
                    position: absolute;
                    top: 110%;
                    height: 3px;
                    background-color: black;
                    left: 0;
                    animation: widen 1s ease 0s 1 normal forwards;
                }

                @keyframes widen {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 100%;
                    }
                }
            }
        }

        #current {
            display: flex;
            overflow: hidden;
            position: relative;
            height: 100vh;

            .exhibition {
                display: flex;
                gap: 50px;
                margin: 50px 0px;
                width: 100% !important;
                align-items: center;
                justify-content: center;
                position: absolute;
                transition: opacity 0.5s, z-index 0.5s;
              
                // Set initial styles for all slides
                opacity: 0;
                z-index: 1;
              
                .exh-img {
                  width: 40vw;
                  height: 100%;
                }
              
                .material-symbols-sharp {
                  font-size: 50px;
                  font-weight: 700;
                }
              
                .text {
                  width: 40%;
              
                  h2 {
                    font-size: 65px;
                    font-weight: 800;
                    font-family: 'Archivo';
                    color: #1C1C1C;
                    text-transform: capitalize;
                    white-space: nowrap;
                    letter-spacing: -0.01em;
                    margin-bottom: 25px;
                  }
              
                  .exh-date {
                    font-size: 25px;
                  }
              
                  .description {
                    margin: 30px 0px;
                    font-size: 20px;
                  }
              
                  .exh-icon.left {
                    margin-right: 35px;
                  }
                }
              }
              
        }

        #past {
            height: 70vh;
            overflow: auto;
            display: none;
            
            .past-exhibition {
                display: flex;
                gap: 40px;
                place-items: center;
                justify-content: center;
                padding: 30px 0px;
                margin: 20px auto;
                background-color: rgb(250, 249, 249);
                width:  90%;
                box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);

                .exh-img {
                    width: 100px;
                    height: 100px;
                    flex-basis: 100px;
                }

                .text > *:nth-child(n) {
                    padding-bottom: 10px;
                  }
            }
        }

        #upcoming {
            display: none;
            height: 70vh;
            overflow: auto;
            
            .upcoming-exhibition {
                display: flex;
                gap: 40px;
                place-items: center;
                justify-content: center;
                padding: 30px 0px;
                margin: 20px auto;
                background-color: rgb(250, 249, 249);
                width:  90%;
                box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);

                .exh-img {
                    width: 100px;
                    height: 100px;
                    flex-basis: 100px;
                }

                .text > *:nth-child(n) {
                    padding-bottom: 10px;
                  }
            }
        }
    }

    @media (max-width: 800px) {
        #exhibitions {
            padding: 40px 30px;
            display: none;
            h2 {
                font-size: 40px;
                letter-spacing: 1px;
                margin: auto;
            }

            .links {
                display: block;
                margin: 10px auto;
                color: #1C1C1C;
                width: max-content;
    
                a {
                    margin-right: 20px;
                    color: #1C1C1C;
                    font-size: 16px;
                    font-family: 'Archivo';
                    text-transform: uppercase;
                    line-height: 30px;
                    word-wrap: break-word;
                }
            
            }

            #current {
                display: flex;
                overflow: scroll;
                position: relative;
                height: 100vh;

                &::-webkit-scrollbar {
                    display: none;
                  }

                .exhibition {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    margin: 50px 0px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    transition: opacity 0.5s, z-index 0.5s;

                    .exh-img {
                        width: 100%;
                        height: 100%;
                    }

                    .text {
                        width: 100%;
                    
                        h2 {
                          font-size: 30px;
                          font-weight: 800;
                          font-family: 'Archivo';
                          color: #1C1C1C;
                          text-transform: capitalize;
                          white-space: nowrap;
                          letter-spacing: 2px;
                          margin-bottom: 25px;
                        }
                    
                        .exh-date {
                          font-size: 25px;
                          margin-bottom: 10px;
                        }
                    
                        .description {
                          margin: 30px 0px;
                          font-size: 20px;
                        }
                    
                        .exh-icon.left {
                          margin-right: 35px;
                        }
                      }
                }
            }

            #past {
                height: 70vh;
                overflow: scroll;
                display: none;

                &::-webkit-scrollbar {
                    display: none;
                  }
                
                .past-exhibition {
                    display: flex;
                    gap: 40px;
                    flex-direction: column;
                    place-items: center;
                    justify-content: center;
                    padding: 30px 0px;
                    margin: 20px auto;
                    background-color: rgb(250, 249, 249);
                    width:  90%;
                    box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);
    
                    .exh-img {
                        width: 100%;
                        height: 100%;
                        flex: 1;
                    }

                    .text {
                        padding: 20px;
                    }
    
                }
            }

            #upcoming {
                height: 70vh;
                overflow: scroll;
                display: none;

                &::-webkit-scrollbar {
                    display: none;
                  }
                
                .upcoming-exhibition {
                    display: flex;
                    gap: 40px;
                    flex-direction: column;
                    place-items: center;
                    justify-content: center;
                    padding: 30px 0px;
                    margin: 20px auto;
                    background-color: rgb(250, 249, 249);
                    width:  90%;
                    box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);
    
                    .exh-img {
                        width: 100%;
                        height: 100%;
                        flex: 1;
                    }

                    .text {
                        padding: 20px;
                    }
    
                }
            }
        }
    }
        
}

footer {
    padding: 70px;
    display: grid;
    background: #1c1c1c;
    grid-template-columns: auto auto;
    position: static;
    bottom: 0;
    width: 100%;
    color: white;
    z-index: -1;

.logo {
    float: right;
    margin-bottom: 40px;
}

    hr {
        width: 100%;
        background-color: white;
        margin: 0px auto 40px;
        display: none;
    }

    .navlist {
        display: flex;
        margin-right: 70px;
        margin-top: 30px;
    
        li {
            list-style: none;
            padding: 0px 10px;
            font-family: 'Archivo';
            font-weight: 600;
            transition: font-size 0.5s;
    
            &:hover {
                font-size: 22px;
            }
        }
    }

    .footer-copy:nth-of-type(0) {
        display: none;
    }

    .heading {
        display: flex;
        column-gap: 30px;


    h4 {
        display: inline;
        font-size: 40px;
        color: white;
        font-weight: 600;
        font-family: 'Archivo';
        margin-bottom: 30px;
    }
    


    .icon {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: #3434342e;
        padding: 7px;
    } 
 
}
p {
    margin-bottom: 30px;
}


.footer-right {
 #footer-header {
        display: block;
        padding: 0px;
        text-align: right;
        margin-left: auto;
    }
    
   p {
        text-align: right;
    }
    
    .navlist {
        margin-right: 0px;
        margin-bottom: 30px;
        justify-content: flex-end;
        width: 100%;
    }

    
}



}

@media (max-width: 900px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .logo {
            float: none;
            margin-bottom: 0px;
        }

        .heading {
            display: flex;
            column-gap: 30px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;
     
    }

    
    .footer-copy:nth-of-type(1) {
        display: none;
    }
    p {
        margin-bottom: 30px;
        text-align: center;
    }

        .navlist {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            li {
                padding-bottom: 10px;
            }
        }

        hr {
            display: block;
            height: 1px;
        }

        .footer-right {
            text-align: center;

            #footer-header {
                display: block;
                padding: 0px;
                text-align: center;
                margin-left: auto;
            }
            
           p {
                margin-bottom: 30px;
                text-align: center;
            } 
        }
    }
}