@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700&family=Montserrat:wght@100;400&display=swap');
@import "animations.css";

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Light.otf') format('opentype'); 
}

@font-face {
    font-family: 'Archivo Bold';
    src: url('../fonts/Archivo-ExtraBold.otf') format('opentype'); 
}

@font-face {
    font-family: 'Archivo Regular';
    src: url('../fonts/Archivo-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Archivo Medium';
    src: url('../fonts/Archivo-Medium.ttf') format('truetype'); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
}

body {
    width: 100%;
    color: black;
    scroll-behavior: smooth;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 70;
}

.header {
    margin-right: auto;
    font-size: 40px;
    font-family: "Gluten";
    font-weight: 700;
    padding-top: 40px;
    padding-left: 60px;
  }

  .navlist {
    display: flex;
    padding-top: 40px;
    margin-right: 70px;
    margin-left: auto;

    li {
        list-style: none;
        padding: 0px 10px;
        font-family: 'Archivo';
        font-weight: 600;
        transition: font-size 0.5s;

        &:hover {
            font-size: 22px;
        }
    }
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 20;
    justify-content: space-between;
    color: white;


}

main {
    #hero {
        position: relative;
        width: 100%;
        height: 100vh;

        &::after {
            content: '';
            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.716), transparent);
            display: block;
          }
          
          .banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -2;
        }

        
        
        .text {
            position: absolute;
            top: 80%;
            left: 85%;
            transform: translate(-85%, -80%);
            color: white;
            text-align: end;

            h1 {
                font-size: 70px;
                font-weight: 800;
                font-family: 'Archivo Medium';
                line-height: 70px;
                text-transform: uppercase;
                white-space: nowrap;
                letter-spacing: -0.01em;
                text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.557);
                margin-bottom: 20px;
                text-align: center;
            }

            h4 {
                font-family: 'Archivo';
                color: white;
                font-size: 19px;
                font-weight: 700;
            }

            .exh-icons {
                margin-top: 25px;
            }
        }
    }

    #about {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #1C1C1C;
        padding: 90px 60px;
        gap: 40px;

        .left {
            p {
                color: white;
                font-size: 35px;
                font-family: Archivo;
                font-weight: 700;
                line-height: 42px;
                word-wrap: break-word;
            }
        }
        
        .right {
            
            p:first-of-type {
                color: white;
                font-size: 20px;
                font-family: Archivo;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0.40px;
                word-wrap: break-word
            }

            p {
                color: white;
                font-size: 16px;
                font-family: Archivo;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }

    #artworks {
        background-color: white;
        padding: 90px 60px;
        
        h2 {
            font-size: 80px;
            font-weight: 800;
            font-family: 'Archivo Medium';
            line-height: 70px;
            color: black;
            text-transform: uppercase;
            white-space: nowrap;

            letter-spacing: -0.01em;
            margin-bottom: 20px;

        }
        

            #artlist {
                display: flex;
                gap: 60px;
                margin-bottom: 70px;
                flex-wrap: wrap;
                padding: 40px 0px;
                justify-content: space-around;
        
                .artwork {
                    width: 25vw;
                    height: 300px;
                }
        
        
               .artist { 
                flex-basis: 30%;
        
        
                .art-details {
                    display: flex;
                    gap: 20px;
                    text-transform: italic;
                    width: 100%;
                  
                    
        
                .text {
                    margin-top: 10px;
                    width: 58%;

                    & > * {
                            margin-top: 5px;
                    }
                    .art_title {
                        font-weight: 900;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-family: 'Archivo Medium';
                    }
                }
        
                button {
                    color: white;
                    background-color: #1C1C1C;
                    width: 110px;
                    margin: 10PX;
                    height: 40px;
                    border: none;
                    font-weight: 700;
                }
              } }
            }
    }

    #biography {
        background-color: #1C1C1C;
        padding: 90px 60px;
        
        h2 {
            font-size: 80px;
            font-weight: 800;
            font-family: 'Archivo Medium';
            line-height: 70px;
            color: white;
            text-transform: uppercase;
            white-space: nowrap;

            letter-spacing: -0.01em;
            margin-bottom: 80px;

        }

        p {
            color: white;
            font-size: 20px;
            font-family: Archivo;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.40px;
            word-wrap: break-word
        }
    }

    #exhibitions {
        background-color: #ffffff;
        padding: 90px 60px;

        >h2 {
            font-size: 80px;
            font-weight: 800;
            font-family: 'Archivo Bold';
            line-height: 70px;
            color: #1C1C1C;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: -0.01em;
            margin-bottom: 40px;
            text-align: center;
        }

        .links {
            display: block;
            margin: 40px auto;
            color: #1C1C1C;
            width: max-content;

            a {
                margin-right: 50px;
                color: #1C1C1C;
                font-size: 25px;
                font-family: 'Archivo';
                text-transform: uppercase;
                line-height: 30px;
                word-wrap: break-word;
            }

            a.active {
                color: black;
                position: relative;
                font-weight: bold;

                &::after {
                    content: '';
                    width: 0;
                    position: absolute;
                    top: 110%;
                    height: 3px;
                    background-color: black;
                    left: 0;
                    animation: widen 1s ease 0s 1 normal forwards;
                }

                @keyframes widen {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 100%;
                    }
                }
            }
        }

        #current {
            display: flex;
            overflow: hidden;
            position: relative;
            height: 100vh;

            .exhibition {
                display: flex;
                gap: 50px;
                margin: 50px 0px;
                width: 100% !important;
                align-items: center;
                justify-content: center;
                position: absolute;
                transition: opacity 0.5s, z-index 0.5s;
              
                // Set initial styles for all slides
                opacity: 0;
                z-index: 1;
              
                .exh-img {
                  width: 40vw;
                  height: 100%;
                }
              
                .material-symbols-sharp {
                  font-size: 50px;
                  font-weight: 700;
                }
              
                .text {
                  width: 40%;
              
                  h2 {
                    font-size: 65px;
                    font-weight: 800;
                    font-family: 'Archivo Bold';
                    color: #1C1C1C;
                    text-transform: capitalize;
                    white-space: nowrap;
                    letter-spacing: -0.01em;
                    margin-bottom: 25px;
                  }
              
                  .exh-date {
                    font-size: 25px;
                  }
              
                  .description {
                    margin: 30px 0px;
                    font-size: 20px;
                  }
              
                  .exh-icon.left {
                    margin-right: 35px;
                  }
                }
              }
              
        }

        #past {
            height: 70vh;
            overflow: auto;
            display: none;
            
            .past-exhibition {
                display: flex;
                gap: 40px;
                place-items: center;
                justify-content: center;
                padding: 30px 0px;
                margin: 20px auto;
                background-color: rgb(250, 249, 249);
                width:  90%;
                box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);

                .exh-img {
                    width: 100px;
                    height: 100px;
                    flex-basis: 100px;
                }

                .text > *:nth-child(n) {
                    padding-bottom: 10px;
                  }
            }
        }

        #upcoming {
            display: none;
            height: 70vh;
            overflow: auto;
            
            .upcoming-exhibition {
                display: flex;
                gap: 40px;
                place-items: center;
                justify-content: center;
                padding: 30px 0px;
                margin: 20px auto;
                background-color: rgb(250, 249, 249);
                width:  90%;
                box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);

                .exh-img {
                    width: 100px;
                    height: 100px;
                    flex-basis: 100px;
                }

                .text > *:nth-child(n) {
                    padding-bottom: 10px;
                  }
            }
        }
    }
        
}

footer {
    padding: 70px;
    display: grid;
    background: #1C1C1C;
    grid-template-columns: auto auto;
    color: white !important;

    .heading {
        display: flex;
        column-gap: 30px;


    h4 {
        display: inline;
        font-size: 40px;
        color: white;
        font-weight: 600;
        font-family: 'Archivo Medium';
        margin-bottom: 30px;
    }
    


    .icon {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: #3434342e;
        padding: 7px;
    } 
 
}
p {
    margin-bottom: 30px;
}


.footer-right {
 #footer-header {
        display: block;
        padding: 0px;
        text-align: right;
        margin-left: auto;
    }
    
   p {
        margin-bottom: 30px;
        text-align: right;
    }
    
    .navlist {
        margin-right: 0px;
        margin-bottom: 30px;
        justify-content: flex-end;
        width: 100%;
    }

    
}



}