@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@700&family=Montserrat:wght@100;400&display=swap");
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Light.otf") format("opentype");
}
@font-face {
  font-family: "Archivo Bold";
  src: url("../fonts/Archivo-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Archivo Regular";
  src: url("../fonts/Archivo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo Medium";
  src: url("../fonts/Archivo-Medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
}

body {
  width: 100%;
  color: black;
}

.header {
  margin-right: auto;
  font-size: 40px;
  font-family: "Gluten";
  font-weight: 700;
  padding-top: 40px;
  padding-left: 60px;
}

.navlist {
  display: flex;
  padding-top: 40px;
  margin-right: 70px;
  margin-left: auto;
}
.navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-size: 20px;
  font-weight: 600;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 20;
  justify-content: space-between;
  color: black;
}

main #contact {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 80px;
  gap: 50px;
}
main #contact .left {
  flex-basis: 50%;
}
main #contact .left .heading {
  font-size: 80px;
  font-weight: 900;
  font-family: "Archivo Medium";
  color: black;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 35px;
  margin-top: 60px;
}
main #contact .left .heading:first-of-type {
  margin-top: 130px;
  margin-bottom: 75px;
}
main #contact .left a {
  color: black;
  text-transform: capitalize;
  text-decoration-line: underline;
  text-decoration-color: black;
  display: block;
  padding-bottom: 20px;
}
main #contact .right {
  flex-basis: 50%;
  padding-top: 130px;
}
main #contact .right input[type=text], main #contact .right input[type=email], main #contact .right input[type=tel], main #contact .right textarea {
  background-color: rgb(238, 236, 236);
  padding: 15px;
  display: block;
  border: none;
  width: 100%;
  margin-bottom: 35px;
}
main #contact .right label {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
}
main #contact .right .custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 35px;
}
main #contact .right .custom-select .select-trigger {
  background-color: rgb(238, 236, 236);
  padding: 15px;
  display: block;
  border: none;
  cursor: pointer;
}
main #contact .right .custom-select .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}
main #contact .right .custom-select .selected-option {
  display: inline-block;
}
main #contact .right .custom-select .select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgb(238, 236, 236);
  display: none;
}
main #contact .right .custom-select .option {
  padding: 10px;
  cursor: pointer;
}
main #contact .right #serviceType {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
main #contact .right input[type=submit] {
  background-color: rgb(0, 0, 0);
  border: none;
  height: 30px;
  color: white;
  width: 100%;
  margin-bottom: 35px;
}

footer {
  padding: 70px;
  display: grid;
  background: #1C1C1C;
  grid-template-columns: auto auto;
  color: white !important;
}
footer .heading {
  display: flex;
  column-gap: 30px;
}
footer .heading h4 {
  display: inline;
  font-size: 40px;
  color: white;
  font-weight: 600;
  font-family: "Archivo Medium";
  margin-bottom: 30px;
}
footer .heading .icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(52, 52, 52, 0.1803921569);
  padding: 7px;
}
footer p {
  margin-bottom: 30px;
}
footer .footer-right #footer-header {
  display: block;
  padding: 0px;
  text-align: right;
  margin-left: auto;
}
footer .footer-right p {
  margin-bottom: 30px;
  text-align: right;
}
footer .footer-right .navlist {
  margin-right: 0px;
  margin-bottom: 30px;
  justify-content: flex-end;
  width: 100%;
}

/*# sourceMappingURL=contact.css.map */
