@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
}

body {
  width: 100%;
  color: black;
}

.logo {
  width: 130px;
  height: 70px;
  float: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
    height: 60px;
    float: none;
  }
}
.navbar {
  width: 100%;
  display: flex;
  padding: 10px 60px 20px;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.navbar .navlist {
  display: flex;
  margin-right: 0px;
}

.navbar .navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-weight: 600;
  transition: font-size 0.5s;
  cursor: pointer;
}

.navbar .navlist li:hover {
  font-size: 22px;
}

.navbar .hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 4rem;
  z-index: 7;
  display: none;
  margin-top: 20px;
}

.navbar .hamburger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}

.navbar .hamburger .line:nth-child(1) {
  top: 0;
}

.navbar .hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}

.navbar .hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
}

.navbar .hamburger.active .line:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
  width: 2rem;
}

.navbar .hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.navbar .hamburger.active .line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
  width: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 40px 30px;
    background-color: transparent;
    top: 0;
    width: 100%;
  }
  .navbar .navlist {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    z-index: 6;
    left: 0;
    color: white;
    gap: 40px;
    bottom: -100vh;
    transition: bottom 650ms;
  }
  .navbar .navlist li {
    color: white;
  }
  .navbar .navlist.active {
    bottom: 0;
  }
  .navbar .hamburger {
    display: block;
    width: 50px;
    height: 28px;
  }
  .navbar .hamburger .line {
    background-color: black;
  }
  .navbar .hamburger.active .line {
    background-color: #fff;
  }
}
main {
  margin: 40px 60px;
}
main > h2 {
  font-size: 55px;
  font-weight: 800;
  font-family: "Archivo";
  color: black;
  line-height: 55px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
main .header {
  margin: 0px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
main .header #links {
  display: flex;
  gap: 40px;
  width: fit-content;
}
main .header #links a {
  color: black;
  font-family: "Archivo";
  word-wrap: break-word;
  text-decoration: none;
}
main .header #links a.active {
  color: black;
  position: relative;
  font-weight: bold;
}
main .header #links a.active::after {
  content: "";
  width: 0;
  position: absolute;
  top: 110%;
  height: 3px;
  background-color: black;
  left: 0;
  animation: widen 1s ease 0s 1 normal forwards;
}
@keyframes widen {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
main hr {
  background-color: black;
  margin-bottom: 40px;
}
main #exhibitions {
  margin: 4px 0px 30px 0px;
  height: 70vh;
}
main #exhibitions #current {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  height: 70vh;
}
main #exhibitions #current .main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0px 0px;
  flex-basis: 50%;
  width: 100%;
  align-items: center;
  transition: opacity 0.5s, z-index 0.5s;
  height: 100%;
  overflow: scroll;
}
main #exhibitions #current .main::-webkit-scrollbar {
  display: none;
}
main #exhibitions #current .main .exh-img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
main #exhibitions #current .main .text {
  width: 100%;
  margin-top: 40px;
}
main #exhibitions #current .main .text h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Archivo";
  color: #1C1C1C;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
main #exhibitions #current .main .text .exh-date {
  font-size: 25px;
  margin-bottom: 5px;
}
main #exhibitions #current .main .text .description {
  margin: 30px 0px;
  font-size: 20px;
}
main #exhibitions #current .main .text .exh-icon.left {
  margin-right: 35px;
}
main #exhibitions #current .side {
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  flex-basis: 40%;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
main #exhibitions #current .side::-webkit-scrollbar {
  display: none;
}
main #exhibitions #current .side .current-exhibition {
  display: flex;
  flex-direction: column;
}
main #exhibitions #current .side .current-exhibition .exh-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
main #exhibitions #current .side .current-exhibition .text {
  margin-top: 10px;
  width: 100%;
}
main #exhibitions #current .side .current-exhibition .text h2 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Archivo";
  color: #1C1C1C;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
main #exhibitions #current .side .current-exhibition .text .exh-date {
  font-size: 16px;
  margin-bottom: 2px;
}
main #exhibitions #current .side .current-exhibition .text .description {
  margin: 20px 0px;
  font-size: 16px;
}
main #exhibitions #archive {
  height: 70vh;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 30px;
}
main #exhibitions #archive::-webkit-scrollbar {
  display: none;
}
main #exhibitions #archive .past-exhibition {
  display: flex;
  gap: 40px;
  place-items: center;
  justify-content: center;
  padding: 30px 0px;
  margin: 0px;
  background-color: rgb(250, 249, 249);
  width: 100%;
  box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);
}
main #exhibitions #archive .past-exhibition .exh-img {
  width: 100px;
  height: 100px;
  flex-basis: 100px;
}
main #exhibitions #archive .past-exhibition .text > *:nth-child(n) {
  padding-bottom: 10px;
}
main #exhibitions #upcoming {
  height: 70vh;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  column-gap: 30px;
}
main #exhibitions #upcoming::-webkit-scrollbar {
  display: none;
}
main #exhibitions #upcoming .future-exhibition {
  display: flex;
  gap: 40px;
  place-items: center;
  justify-content: center;
  padding: 30px 0px;
  margin: 0px;
  background-color: rgb(250, 249, 249);
  width: 100%;
  box-shadow: 0px 6px 6px rgba(121, 120, 120, 0.36);
}
main #exhibitions #upcoming .future-exhibition .exh-img {
  width: 100px;
  height: 100px;
  flex-basis: 100px;
}
main #exhibitions #upcoming .future-exhibition .text > *:nth-child(n) {
  padding-bottom: 10px;
}

footer {
  padding: 70px;
  display: grid;
  background: #1c1c1c;
  grid-template-columns: auto auto;
  position: static;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: -1;
}
footer .logo {
  float: right;
  margin-bottom: 40px;
}
footer hr {
  width: 100%;
  background-color: white;
  margin: 0px auto 40px;
  display: none;
}
footer .navlist {
  display: flex;
  margin-right: 70px;
  margin-top: 30px;
}
footer .navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-weight: 600;
  transition: font-size 0.5s;
}
footer .navlist li:hover {
  font-size: 22px;
}
footer .footer-copy:nth-of-type(0) {
  display: none;
}
footer .heading {
  display: flex;
  column-gap: 30px;
}
footer .heading h4 {
  display: inline;
  font-size: 40px;
  color: white;
  font-weight: 600;
  font-family: "Archivo";
  margin-bottom: 30px;
}
footer .heading .icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(52, 52, 52, 0.1803921569);
  padding: 7px;
}
footer p {
  margin-bottom: 30px;
}
footer .footer-right #footer-header {
  display: block;
  padding: 0px;
  text-align: right;
  margin-left: auto;
}
footer .footer-right p {
  text-align: right;
}
footer .footer-right .navlist {
  margin-right: 0px;
  margin-bottom: 30px;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  footer .logo {
    float: none;
    margin-bottom: 0px;
  }
  footer .heading {
    display: flex;
    column-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  footer .footer-copy:nth-of-type(1) {
    display: none;
  }
  footer p {
    margin-bottom: 30px;
    text-align: center;
  }
  footer .navlist {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .navlist li {
    padding-bottom: 10px;
  }
  footer hr {
    display: block;
    height: 1px;
  }
  footer .footer-right {
    text-align: center;
  }
  footer .footer-right #footer-header {
    display: block;
    padding: 0px;
    text-align: center;
    margin-left: auto;
  }
  footer .footer-right p {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  main h2{
    font-size: 37px;
    word-spacing: 0;
  }
  main #exhibitions #archive .past-exhibition{
    display: grid;
    padding: 10px;
  }
  main #exhibitions #archive .past-exhibition .text > *:nth-child(n){
    margin-left: 10px;
  }
  main #exhibitions #archive .past-exhibition .exh-img{
    width: 200px;
    height: 200px;
  }
  main #exhibitions #current{
    display: grid;
    overflow: scroll;
  }
  main #exhibitions #current .side{
    overflow: visible;
    display: grid;
    margin-top: -30px;
  }
  main #exhibitions #current .main{
    display: grid;
    overflow: visible;
    /* margin-top: 70px; */
  }
  main #exhibitions #current .side .current-exhibition{
    margin-top: 15px;
  }

  main #exhibitions #upcoming .future-exhibition{
    display: grid;
    padding: 10px;
    margin-top: 30px;
  }
  main #exhibitions #upcoming .future-exhibition .exh-img{
    width: 200px;
    height: 200px;
  }
  main .header #links {
    gap: 10px;
  }
}
@media (max-width: 350px) {
  main #exhibitions #archive .past-exhibition .exh-img,
  main #exhibitions #upcoming .future-exhibition .exh-img{
    width: 150px;
    height: 150px;
  }
  main .header .extra{
    display: none;
  }
}
@media (max-width: 370px){
  main .header .extra{
    display: none;
  }
  main h2{
    font-size: 30px;
    margin-left: -10px;
  }
}
/*# sourceMappingURL=exhibitions.css.map */
