@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
  color: white;
}

.navlist li{
  transition: .3s ease;
}

body {
  width: 100%;
}

.logo {
  width: 150px;
  height: 80px;
  float: none;
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
    height: 60px;
    float: none;
  }
}
.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 40px 60px;
  z-index: 4 !important;
  justify-content: space-between;
  color: white;
}
.navbar .navlist {
  display: flex;
  margin-right: 70px;
}
.navbar .navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-weight: 600;
  transition: font-size 0.5s;
  cursor: pointer;
}
.navbar .navlist li:hover {
  font-size: 22px;
  transition: .2s ease;
}
.navbar .hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 4rem;
  z-index: 3;
  display: none;
  margin-top: 20px;
}
.navbar .hamburger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}
.navbar .hamburger .line:nth-child(1) {
  top: 0;
}
.navbar .hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.navbar .hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
}
.navbar .hamburger.active .line:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
  width: 2rem;
}
.navbar .hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.navbar .hamburger.active .line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
  width: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 40px 30px;
    background-color: transparent;
    top: 0;
    width: 100%;
  }
  .navbar .navlist {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    left: 0;
    color: white;
    gap: 40px;
    bottom: -100vh;
    transition: bottom 650ms;
  }
  .navbar .navlist li {
    color: white;
  }
  .navbar .navlist.active {
    bottom: 0;
  }
  .navbar .hamburger {
    display: block;
    width: 50px;
    height: 28px;
  }
  .navbar .hamburger .line {
    background-color: white;
  }
  .navbar .hamburger.active .line {
    background-color: #fff;
  }
}
:root {
  --swiper-theme-color: black;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: transparent;
  border: 1px solid white;
  opacity: 0.7;
}

.swiper-pagination {
  transform: translateY(-40px);
}

.after {
  visibility: hidden;
  width: 100%;
}

main {
  position: relative;
  z-index: 2;
}
main #display {
  position: relative;
  height: 100vh;
}
main #display .swiper {
  height: 100vh;
  width: 100%;
}
main #display .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0px 10px;
}
main #display .artwork {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: brightness(0%);
  object-fit: cover;
}
main #display .fadeInBlack {
  animation: fadeInBlack 3s ease 0s 1 normal forwards;
}
@keyframes fadeInBlack {
  0% {
    filter: brightness(0%);
  }
  70% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(40%);
  }
}
main #display .attribution {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #display .attribution .art_title {
  font-size: 80px;
  font-weight: 700;
  font-family: "Archivo";
  color: white;
  line-height: 70px;
  text-shadow: 20px 20px 10px rgba(86, 85, 85, 0.546);
  margin-bottom: 40px;
  text-align: center;
}
main #display .attribution .fade-in {
  transform: translateY(40px);
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
main #display .attribution h5 {
  font-family: "Archivo";
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 40px;
}
main #display .attribution .explore {
  padding: 10px 25px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-family: "Archivo";
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.5s;
}
main #display .attribution .explore::before, main #display .attribution .explore::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -2500;
  transition: 0.5s ease-out;
  background-color: white;
}
main #display .attribution .explore::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
main #display .attribution .explore:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
main #display .attribution .explore:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
main #display .attribution .explore:hover {
  color: black;
}
@media (max-width: 800px) {
  main #display .attribution .art_title {
    font-size: 35px;
    margin-bottom: 10px;
    line-height: 45px;
    font-weight: 700;
  }
  main #display .attribution h5 {
    font-size: 18px;
  }
  main #display .attribution .explore {
    padding: 7px 15px;
    font-size: 16px;
  }
}

#register {
  position: fixed;
  padding: 50px;
  bottom: 20px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.8274509804);
  color: white;
  z-index: 2500000;
  display: none;
}
#register div.header {
  visibility: hidden;
  margin-bottom: 0px;
  align-items: center;
  justify-content: space-between;
}
#register .x-icon {
  visibility: visible;
  position: absolute;
  top: 10%;
  left: 90%;
  color: white;
}
#register h2 {
  font-family: "Archivo";
  font-size: 35px;
}
#register p {
  margin-bottom: 30px;
  font-size: 12px;
}
#register input[type=text], #register input[type=email] {
  display: block;
  background: transparent;
  padding: 10px;
  color: white;
  border: 1px solid white;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  transition: border 1s;
}
#register input[type=text]:focus, #register input[type=email]:focus {
  border: none;
  border-bottom: 1px solid white;
}
#register .custom-select {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
#register .select-selected {
  background: transparent;
  padding: 10px;
  color: white;
  border: 1px solid white;
  outline: none;
}
#register .select-items {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5294117647);
  min-width: 100%;
  overflow: auto;
  z-index: 1;
  border: 1px solid white;
}
#register .select-items .select-item {
  padding: 10px;
  cursor: pointer;
}
#register .select-items .select-item:hover {
  background-color: #000000;
}
#register button {
  display: block;
  background: transparent;
  padding: 10px 15px;
  color: white;
  border: 1px solid white;
  outline: none;
  margin-bottom: 20px;
}
#register .terms-notif {
  margin-top: 60px;
  color: grey !important;
  font-size: 16px;
}

@media (max-width: 768px) {
  #register {
    position: fixed;
    padding: 50px;
    width: 100vw;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(38, 38, 38, 0.9411764706);
  }
  #register div.header {
    display: flex;
    visibility: visible;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  #register .x-icon {
    margin-left: auto;
    position: static;
    color: white;
  }
}
footer {
  padding: 70px;
  display: grid;
  background: #1c1c1c;
  grid-template-columns: auto auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
footer .logo {
  float: right;
  margin-bottom: 40px;
}
footer hr {
  width: 100%;
  background-color: white;
  margin: 0px auto 40px;
  display: none;
}
footer .navlist {
  display: flex;
  margin-right: 70px;
  margin-top: 30px;
}
footer .navlist li {
  list-style: none;
  padding: 0px 10px;
  font-family: "Archivo";
  font-weight: 600;
  transition: font-size 0.5s;
}
footer .navlist li:hover {
  font-size: 22px;
}
footer .footer-copy:nth-of-type(0) {
  display: none;
}
footer .heading {
  display: flex;
  column-gap: 30px;
}
footer .heading h4 {
  display: inline;
  font-size: 40px;
  color: white;
  font-weight: 600;
  font-family: "Archivo";
  margin-bottom: 30px;
}
footer .heading .icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(52, 52, 52, 0.1803921569);
  padding: 7px;
}
footer p {
  margin-bottom: 30px;
}
footer .footer-right #footer-header {
  display: block;
  padding: 0px;
  text-align: right;
  margin-left: auto;
}
footer .footer-right p {
  text-align: right;
}
footer .footer-right .navlist {
  margin-right: 0px;
  margin-bottom: 30px;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  footer .logo {
    float: none;
    margin-bottom: 0px;
  }
  footer .heading {
    display: flex;
    column-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  footer .footer-copy:nth-of-type(1) {
    display: none;
  }
  footer p {
    margin-bottom: 30px;
    text-align: center;
  }
  footer .navlist {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .navlist li {
    padding-bottom: 10px;
  }
  footer hr {
    display: block;
    height: 1px;
  }
  footer .footer-right {
    text-align: center;
  }
  footer .footer-right #footer-header {
    display: block;
    padding: 0px;
    text-align: center;
    margin-left: auto;
  }
  footer .footer-right p {
    margin-bottom: 30px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
